:root {
  --primary: rgb(240, 240, 240);
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
<<<<<<< HEAD
  
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(46, 45, 45);
=======
.header{
    border: 1px solid rgb(233, 229, 229);
    height: 74px;
    background-color: rgb(15, 14, 14);
  
}
.grid-container1{
    cursor: pointer;
    display: grid;
    grid-template-columns:120px 150px 120px 120px 120px 120px 120px 120px 70px 70px 100px 100px ;
    color: white;
    text-align: center;
    padding: 10px; 
>>>>>>> cf53c36d134a6ab40eff03776c8a7c4492c37955
}
  
body {
  background: #ccc;
  padding: 0;
  margin: 0;

}
img {
  max-width: 100%;
}
  
.wrapper {
  display: grid;
  grid-gap: 10px;  
}
  

.main-nav ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(8, 1fr);
}

.main-nav{
  background-color: black;
  height: 80px;
}
 
.main-nav a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  color: rgb(226, 223, 223);
  font-size: 1.1rem;
}
.icons{
  cursor: pointer;
  display: grid;
  width: 100%;
  grid-template-columns:repeat(6, 1fr);
  color: rgb(230, 227, 227)
  
}
.material-icons:hover{
  color: gray;
}
.main-nav a:hover {
  box-shadow: 0 2px 0px 0px rgb(216, 215, 215);
}
 
.container1 {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'head head ';
}
  
.head {
  grid-area: head;
  height: 500px;
  text-align: center;
  background-image: url(em.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  box-shadow: var(--shadow);
  cursor: pointer;
}
.head h1 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0; 
  color: white;
}
.head p {
  font-size: 1.7rem;
  margin-top: 40px;    
  margin-bottom: 0;
  color: white;
}
.main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
  
.project {
  text-align: center;
  padding: 1.5rem 2rem;
}
.main1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
  
.models {
  background-image:url(6.jpg);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
.h2 h2{
  grid-column: 1/-1;
  display: grid;
  grid-gap:20px;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}
.h2  h2::before,
.h2 h2::after{
  display: block;
  content: "";
  height: 10px;
  background: linear-gradient(to var(--direction,left), rgb(46, 45, 45),transparent);
}
.h2 h2::after{
  --direction: right;
}

.text{
  font-family: Normal, Helvetica, Arial, sans-serif;  
  letter-spacing: 0.2em;

  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}
  
.foo1 { 
  text-align: center;
  
}
.footer ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(8, 1fr);
}

.footer{
  align-content: center;
  height: 80px;
}
 
.footer a {
  display: block;
  text-align: center;
  color: rgb(28, 5, 58);
  font-size: 1.1rem;
}
  
h6{
    
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-family: Normal, Helvetica, Arial, sans-serif;
}
footer{
  height:400px;
  margin-top: 30px;
  background-color: rgb(232, 235, 229);
}
.foot{
  
  height: 200px;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: column;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.foot li{
  list-style: none;
}
.foot h3{
  margin-left: 40px;
}

@media (max-width: 700px) {
  .container1 {
    grid-template-areas:
    'head ';
  }
  .main-nav{
    background-color: black;
    height: 430px;
  }
  .head h1 {
    font-size: 2.5rem;
  }
  .main-nav ul {
    grid-template-columns: 1fr;
  }
  
  
}
  
 @media (max-width: 500px) {
  .container1 {
    grid-template-areas:
    'head';
  }
}
  