body {
    margin: 0;
  }
.header{
    border: 1px solid rgb(233, 229, 229);
    height: 75px;
    background-color: rgb(15, 14, 14);
}
.grid-container1{
    cursor: pointer;
    display: grid;
    grid-template-columns:120px 120px 120px 120px 120px 120px 120px 120px 100px 100px ;
    color: white;
    text-align: center;
    padding: 10px; 
}

.item1,.item2,.item3,.item4,.item5,.item6,.item7{
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
   
    

}
.item1:hover,.item2:hover,.item3:hover,.item4:hover,.item5:hover,.item6:hover{
   
    box-shadow: 0px 4px 0px 0px white;
    
   

}
.grid-container2{
    cursor: pointer;
    display: grid;
    grid-template-columns:100% ;
    color: white;
    

}
.centered{
    font-family: Arial, Helvetica, sans-serif;    
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: absolute;
    text-align: center;
    font-size: 15px;
    top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
    
    


}
