div{
    display: inline-block;
}
img{
    width:299px ;
    height: 210px;
    
}
h2{
    text-align: center;
    line-height: 1px;
    top:0;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}
.ex1{
    border: 1px solid gainsboro;
    width:300px ;
    height: 270px;
}
.ex1:hover{
    border: 1px solid black;
}

.ex2{
    border: 1px solid gainsboro;
    width:300px ;
    height: 270px;
}
.ex2:hover{
    border: 1px solid black;

}
.ex3{
    border: 1px solid gainsboro;
    width:300px ;
    height: 270px;
}
.ex3:hover{
    border: 1px solid black;
}
.ex4{
    border: 1px solid gainsboro;
    width:300px ;
    height: 270px;
}
.ex4:hover{
    border: 1px solid black;
}