doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        
        title List
        style
            include style.css
            
    body
        a(href="http://localhost:3000/person") Back
        br
        br
        div(id="people")
            h2=`id : ${your.id}`
            h2=`name : ${your.name}`
            h2=`surname : ${your.surname}`
            h2=`date : ${your.date}`
                button(type="submit" class="button" id="edit") Edit 
                form(action="http://localhost:3000/person/" method="post" id="formEdit" hidden )
                    label(for="prodId") 
                        input#prodId(type="text" name="id"  placeholder="Id")
                    label(for="name")   
                        input#prodName(type="text" name="name" placeholder="Name")
                    label(for="surname") 
                        input(type="text" name="surname" placeholder="surname")
                    label(for="date") 
                        input(type="date" name="date" placeholder="date")
                    button(type="submit" class="submit") edit  
    script(src="/main.js")    
        
