<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Match
        style
            include style.css
    body
        h1 Search Person
      
        form(action="http://localhost:3000/search" method="post")
            h3='Name'
            input(type="text"  value= name name='name')
            h3='Surname'
            input(type="text" value=surname name='surname')
            
            br
            button(type="submit" class="button")  search  
        
            