
body{
    margin-left: 300px; 
    margin-right: 300px; 
}
header{  
    border:1px solid black;
    height: 200px; 
}

div.ex1{
    border:1px solid black;
    width: 180px;
    height: 450px;
    display:inline-block; 
      
}
div.ex2{
    border:1px solid black;
    float: right;
    width: 180px;
    height: 450px;
    display:inline-block; 
}
main{
    border:1px solid black;
    height:250px; 

}
footer{
    border:1px solid black;
    height: 200px; 
}